* {
  box-sizing: border-box;
}

body {
  font-family: @baseFamily;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: @white;
  font-weight: @normalFont;
  background-color: @bodyColor;
}

body > input[type="radio"] {
  display: none;
}

img {
  width: 100%;
}

a {
  text-decoration: @linkDecorReset;

  &:hover {
    color: #ffbc9e;
  }

  &:active {
    color: #e84d37;
  }
}

.site-wrapper {
  background-image: url("../img/slide-1.png");
  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: top center;
}
.content-wrapper {
  width: 1145px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.main-heading {
  margin: 0;
  margin-top: -5px;
  font-size: 35px;
  line-height: 41px;
  margin-bottom: 21px;
}
