.advantages {
  padding-left: 20px;
  padding-right: 35px;
  margin-bottom: 40px;
  background-image: url("../img/waffle.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  min-height: 307px;
  color: @black;
}

.advantages__title {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 25px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  .listStyleReset();
}

.advantages__item {
  position: relative;
  width: 542px;
  padding-bottom: 28px;
  padding-left: 56px;
  font-size: 16px;
}
