.basket {
  position: relative;
  padding-bottom: 7px;
}

.basket__icon {
  padding: 5px 37px 8px 40px;
  background-color: rgba(255,255,255,.2);
  margin-right: 18px;
  border-radius: 100px;

  &--catalog {
    padding: 0;
    width: 119px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: @white;
  }
}

.basket__link {
  position: relative;
  font-size: @smallFontSize;
  line-height: @smallLineHeight;
  color: @white;
  text-align: center;

  &--catalog {
    color: @black;
    font-weight: @boldFont;
    padding-left: 40px;

    &::before {
      display: none;
    }

    &:after {
      content: "";
      position: absolute;
      top: 8px;
      left: 22px;
      transform: translate(-50%, -50%);
      background-image: url("../img/icons/sprite.png");
      background-repeat: no-repeat;

      .stitches-sprite(-5px, -446px, 21px, 20px);
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -18px;
    transform: translate(-50%, -50%);
    background-image: url("../img/icons/sprite.png");
    background-repeat: no-repeat;

    .stitches-sprite(-5px, -5px, 21px, 20px);
  }
}

.basket__modal {
  display: none;
  position: absolute;
  z-index: 10;
  right: 20px;
  top: 50px;
  width: 540px;
  min-height: 240px;
  padding-top: 16px;
  padding-left: 87px;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.basket__top, .basket__bottom {
  display: flex;
}

.basket__title {
  margin-right: 28px;
  width: 220px;
  padding-bottom: 28px;
  padding-top: 11px;
  font-size: 13px;
  line-height: 16px;
  color: @black;

  &::before {
    position: absolute;
    content: "";
    top: 20px;
    left: 40px;
    width: 34px;
    height: 33px;
    background-image: url("../img/icons/basket-mini1.png");

  }

  &--bottom {
    &::before {
      top: 70px;
      background-image: url("../img/icons/basket-mini2.png");
    }
  }
}

.basket__price-details {
  padding-top: 12px;
  font-size: 13px;
  line-height: 16px;
  color: @black;

  span {
    color: #999999;
  }
}

.basket__price {
  padding-top: 12px;
  margin-left: 27px;
  font-size: 13px;
  line-height: 16px;
  color: @black;
}

.basket__total-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 15px;
  padding-top: 2px;

  &::before {
    position: absolute;
    content: "";
    width: 507px;
    height: 1px;
    top: -10px;
    left: 15px;
    right: 15px;
    color: @black;
  }
}

.basket__total {
  padding-bottom: 15px;
  font-size: 15px;
  line-height: 18px;
  color: @black;
  font-weight: 700;
}

.basket:hover .basket__modal {
  display: block;
}

.basket__close {
  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 1px;
    height: 15px;
    background-color: @black;
    top: 27px;
    left: 25px;
    transform: rotate(45deg);
  }

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 1px;
    height: 15px;
    background-color: @black;
    top: 27px;
    left: 25px;
    transform: rotate(-45deg);
  }

  &--bottom {
    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 1px;
      height: 15px;
      background-color: @black;
      top: 80px;
      left: 26px;
      transform: rotate(45deg);
    }

    &::after {
      position: absolute;
      content: "";
      display: block;
      width: 1px;
      height: 15px;
      background-color: @black;
      top: 80px;
      left: 26px;
      transform: rotate(-45deg);
    }
  }
}
