.btn {
  .btn();
  text-align: center;

  &--raspberry {
    padding: 10px;
    width: 168px;
    margin-left: auto;
    margin-right: 30px;
  }

  &--chocolate {
    padding: 10px;
    width: 188px;
    margin-left: auto;
    margin-right: 30px;
  }

  &--subscription {
    width: 128px;
    padding: 12px;
  }

  &--address {
    padding: 10px 0;
    width: 252px;
    margin-bottom: 25px;
  }
}
