.copyright {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 343px;
  outline: 1px solid red;
}

.copyright__made-in {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: @white;
}

.copyright__made-in-link {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: @white;
  .greenBorder();
}
