.ice-cream-card {
  position: relative;
  width: 268px;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    position: absolute;
    content: "";
    width: 61px;
    height: 61px;
    top: 7px;
    left:0;
    background-image: url("../img/bestseller.png");
  }

  &--catalog {
    margin-bottom: 35px;

    &::before {
      display: none;
    }
  }
}

.ice-cream-card:hover::after {
  position: absolute;
  top: -5px;
  left: -15px;
  content: "";
  width: 298px;
  height: 410px;
  background-color: #aebeb4;
  opacity: 0.3;
  z-index: 100;
  border-radius: 5px;
}

.ice-cream-card:hover .btn--ice-cream {
  display: block;
  background-color: #ef6240;
  margin: 0 auto;
}

.ice-cream-card:nth-child(4n) {
  margin-right: 0;
}

.ice-cream-card__price {
  position: relative;
  margin-top: -65px;
  font-size: 45px;
  line-height: 45px;
  font-weight: @boldFont;

  &::after {
    position: absolute;
    content: "";
    width: 31px;
    height: 35px;
    top: 7px;
    left: 82px;
    background-image: url("../img/p-sign.png");
  }
}

.ice-cream-card__weight {
  padding-left: 30px;
  font-size: 30px;
}

.ice-cream-card__details {
  position: relative;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 15px;
  width: 278px;
  text-align: center;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}
