.info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 20px;
  padding-right: 13px;
  width: 267px;
}

.info__link {
  position: relative;
  color: @white;
  font-size: 13px;
  line-height: 18px;
  font-weight: @boldFont;
  .greenBorder();

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -16px;
    transform: translate(-50%, -50%);
    background-image: url("../img/icons/sprite.png");
    background-repeat: no-repeat;
    width: 15px;
    height: 16px;

    .stitches-sprite(-5px, -106px, 15px, 13px);
  }
}

.info__about {
  color: @white;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  .greenBorder();
}
