.social {
  display: flex;
  padding-top: 35px;
  width: 267px;
  outline: 1px solid red;
}

.social__btn {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: #e6ebe9;
  border: 3px solid #c2cec7;
}
