.sort {
  padding-left: 14px;
}

.sort form {
  display: flex;
  flex-wrap: wrap;
}

.sort__popular {
  width: 190px;
  height: 36px;
  margin-bottom: 8px;
  padding: 6px 0 11px 14px;
  margin-left: -15px;
  border: none;
  background-color: #a9b9af;
  border-radius: 50px;
  font-size: 16px;
  line-height: 18px;
  color: @white;

  &:hover {
    background-color: @white;
    color: @black;
  }
}

.sort__title {
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  &--diapason {
    padding-left: 12px;
  }

  &--fatness {
    padding-left: 12px;
  }
}

.sort__by {
  display: flex;
  flex-direction: column;
  width: 195px;
}

.sort__style {
  width: 220px;
  padding-top: 17px;
  padding-left: 10px;
  padding-bottom: 17px;
  background-color: #a9b9af;
  border-radius: 50px;
}

.sort__bar {
  position: relative;
  width: 190px;
  height: 3px;
  margin: 0 auto;
  background-color: #d1dad3;

  &::after {
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: @white;
    top: -11px;
    left: 11px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: @white;
    top: -11px;
    left: 110px;
  }
}

.sort__bar-inner {
  position: absolute;
  width: 79px;
  height: 3px;
  background-color: @white;
  top: 0;
  left: 32px;
}

.sort__range {
  display: flex;
  flex-direction: column;
  width: 230px;
}

.sort__fatness {
  display: flex;
  flex-direction: column;
  width: 416px;
}

.sort__fatness-wrapper {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: #a9b9af;
  border-radius: 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.sort__fatness input[type="radio"] {
  display: none;
}

.sort__fatness label {
  position: relative;
  margin-top: 9px;
  padding-left: 46px;
  cursor: pointer;
}

input[type="radio"] + .sort__indicator {
  content: "";
  position: absolute;
  top: -2px;
  left: 7px;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid @white;
  border-radius: 50%;
}

input[type="radio"] + .sort__indicator:hover {
  border: 2px solid @white;
}

input[type="radio"]:checked + .sort__indicator::before {
  position: absolute;
  content: "";
  left: 4px;
  top: 4px;
  border: 5px solid @white;
  border-radius: 50%;
}

input[type="radio"]:checked + .sort__indicator:disabled::before {
  border: 5px solid #b2c1b7;
}

.sort__filters {
  width: 700px;
  min-height: 40px;
}
.sort__filter {
  position: relative;
  margin-top: 5px;
  margin-right: 15px;
  margin-left: -16px;
  padding-top: 10px;
  padding-right: 12px;
  padding-left: 10px;
  padding-bottom: 13px;
  background-color: #a9b9af;
  border-radius: 50px;
  font-size: 16px;
  line-height: 18px;
}

.sort__filling {
  display: flex;
  margin-bottom: 40px;
}

.sort__btn {
  margin-top: 25px;
  width: 144px;
  border: 2px solid @white;
  border-radius: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 39px;
  background-color: #a9b9af;
  font-size: 16px;
  line-height: 10px;
  color: @white;

  &:hover {
    background-color: @white;
    color: @black;
  }

  &:active {
    background-color: #eaeaea;
    border: none;
    box-shadow: inset 0 2px 1px 1px #a4a5a4;
  }
}

input[type="checkbox"] {
  display: none;
}

.sort__filter label {
  position: relative;
  margin-top: 9px;
  padding-left: 49px;
  cursor: pointer;
}

input[type="checkbox"] + .sort__checkbox {
  content: "";
  position: absolute;
  top: 0;
  left: 8px;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../img/icons/checkbox-off.png");
}

input[type="checkbox"] + .sort__checkbox:hover {
  position: absolute;
  top: 0;
  left: 8px;
  width: 20px;
  height: 20px;
  background-image: url('../img/icons/checkbox-hov.png');
}

input[type="checkbox"]:checked + .sort__checkbox {
  position: absolute;
  left: 8px;
  width: 20px;
  height: 20px;
  background-image: url('../img/icons/checkbox-on.png');
}

input[type="checkbox"]:checked + .sort__checkbox:hover {
  position: absolute;
  left: 8px;
  width: 20px;
  height: 20px;
  background-image: url('../img/icons/checked-hov.png');
}

