.user {
  padding-bottom: 7px;
}

.user__search-field {
  position: relative;
  display: block;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background-color: rgba(255,255,255,.2);
  border-radius: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    transform: translate(-50%, -50%);
    background-image: url("../img/icons/sprite.png");
    background-repeat: no-repeat;

    .stitches-sprite(-5px, -503px, 17px, 17px);
  }
}

.user__search-form {
  display: none;
  position: absolute;
  z-index: 10;
  right: 230px;
  top: 59px;
  padding: 20px 15px;
  width: 340px;
  min-height: 85px;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.user__search-form input {
  width: 310px;
  min-height: 45px;
  padding: 15px;
  border: 1px solid #d3d3d2;
  border-radius: 3px;
}

.user:hover .user__search-form {
  display: block;
}



